In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nba.csv')

# Sort the years by average player Age

In [16]:
df.groupby('Year').mean()[['Age']].sort_values(by='Age', ascending=False)

              Age
Year
2001.0  27.864060
2000.0  27.620968
1999.0  27.481262
1998.0  27.471664
1997.0  27.445993
...           ...
1979.0  25.822674
1956.0  25.813725
1954.0  25.769231
1965.0  25.696970
1962.0  25.600000

[68 rows x 1 columns]

# Sort the Teams by average player points

In [22]:
df2 = df.groupby('Tm').mean()[['PTS','AST','TRB']].sort_values(by='PTS', ascending=False)

In [23]:
df2

            PTS         AST         TRB
Tm
SDR  738.921569  151.352941  376.156863
CIN  685.792929  143.252525  343.353535
SFW  684.625000  139.025000  375.050000
BAL  642.819444  120.694444  323.625000
KCK  623.131944  147.590278  250.625000
..          ...         ...         ...
MLH  285.100000   73.342857  175.085714
BLB  268.410526   66.200000  164.152778
TRI  259.975610   66.682927  161.842105
WSC  252.814815   49.111111   70.538462
WAT  234.333333   63.047619         NaN

[69 rows x 3 columns]