In [166]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

In [167]:
df = pd.read_csv('Titanic.csv')
df = df.dropna(axis='rows').reset_index()

# Data Cleaning

In [168]:
Y = df.Survived
Y

0      1
1      0
2      0
3      0
4      1
      ..
751    0
752    0
753    0
754    0
755    0
Name: Survived, Length: 756, dtype: int64

In [169]:
for i in range(len(df.PClass)):
    if df.PClass[i]=='1st':
        df.PClass[i]=1
    elif df.PClass[i]=='2nd':
        df.PClass[i]=2
    elif df.PClass[i]=='3rd':
        df.PClass[i]=3
    

X = df.drop(['Survived', 'Name', 'Unnamed: 0', 'Sex', 'index'], axis=1)
X = X[X.PClass !='*']

X

    PClass    Age  SexCode
0        1  29.00        1
1        1   2.00        1
2        1  30.00        0
3        1  25.00        1
4        1   0.92        0
..     ...    ...      ...
751      3  27.00        0
752      3  26.00        0
753      3  22.00        0
754      3  24.00        0
755      3  29.00        0

[756 rows x 3 columns]

In [170]:
#Defining the model
logistic = LogisticRegression() #initialize

#Fit the model
logistic.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [171]:
logistic.coef_

array([[-1.2161317 , -0.03793036,  2.52183243]])

In [173]:
logistic.intercept_

array([2.29604106])

In [172]:
X.head()

  PClass    Age  SexCode
0      1  29.00        1
1      1   2.00        1
2      1  30.00        0
3      1  25.00        1
4      1   0.92        0

In [ ]:
Y = 2.30 - 1.21(PClass) - 0.04(Age) + 2.52(SexCode)

In [190]:
import math as mt

PClass = 3
Age = 20
SexCode = 1

(mt.e**(2.3 - (1.21*PClass) - (0.04*Age) + 2.52*(SexCode))) / (1 + mt.e**(2.3 - (1.21*PClass) - (0.04*Age) + 2.52*(SexCode)))

0.5962826992967879